* {
  box-sizing: border-box;
}

/* ==== HEADER STYLES ==== */
.cover {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  display: table;
  }
.wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 0 .625rem;
   }
.keret {
  background-color: hsla(100,0%,0%,.6);
  padding:  .9rem;
  
  
    }
.byline h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.byline h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.headline {
  font-size: 4rem;
  margin: 2rem 0;
  font-family: 'Great Vibes', cursive;
  color: #d2ba87;
}

#vonal {
  color: white;
  margin: 0 14rem;
  }
@media screen and (min-width: 768px) {
 .keret {
  width: 50%;
   display: inline-block;
  }
  
  .headline {
    font-size: 6rem;
  }

  #vonal {
  margin: 0 23rem;
  }
}

.tagline {
  font-size: 1.25rem;
  line-height: 1.5rem;
}


#box-00 {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png');
   width: 100vw;
  height: 184rem;
  }

@media screen and (min-width: 768px) {

  #box-00 {
    height: 112rem;
  }

}
.boxQ {
    text-align: center;
}

/* ==== LOCATION STYLES ==== */


figcaption {
  padding: .8rem 1rem;
  font-size: 1.1rem;
  text-align: center;
}

img {
  width: 20%;
  
 
}

.pikto {
  font-size: 1.1rem;
  padding: .8rem 1rem;
  width: 70%;
  margin: 0 auto;
  vertical-align: top;
}

h1 {
  
 font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
 
 
}
h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
  padding: 2rem 0;
  font-weight:300;
 
}

@media screen and (min-width: 768px) {

  .pikto {
    font-size: 1.5rem; 
    display: inline-block;
    width: 25%;
  
             }
}


/* ==== PROGRAM STYLES ==== */

#box-02 {
  background-color: hsla(100,0%,0%,.6);
  width: 100vw;
  color: #d2ba87;
 
}
#box-02 h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding: 2rem 0 0 ;
  text-align: center;
  
}
#box-02 ul {
  font-family: 'Muli', serif;
  font-size: 1.1rem;
  padding: 2rem;
  left:0;
  margin-left:5rem;
  line-height: 1.8rem;
  
}

@media screen and (min-width: 768px) {

  #box-02 ul {
   margin-left: 45rem;
             }
}
/* ==== GIFTS STYLES ==== */


#box-03 {
  
  width: 100vw;
  text-align: center;
  
  
}
#box-03 p {
    font-size: 1.1rem;
  
}

#box-03 h1 {
  font-size: 3rem;
  padding: 2rem;
  
}

/* ==== QUESTION AND ANSWER STYLES ==== */

#box-04 {
  background-color: hsla(100,0%,0%,.6);
  width: 100vw;
  color: #d2ba87;
  text-align: left;
   
}

.boxQ {
  text-align: center;
 
  
  }

#box-04 h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding: 2rem;;
  text-align: center;
   
}

#box-04 h3 {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
  text-align: left;
   
}
#box-04  p {
  font-size: 1rem;
  text-align: left;
  line-height: 1.1rem;
}
#kover {
    font-weight: bold; 
}

/* ==== CONTACT STYLES ==== */

#box-05 {
  text-align: center;
  width: 100vw;
 
}

#box-05  p {
  font-size: 1rem;
  line-height: 2rem;
}
a {
  color: #bd806e;  
  font-weight:300;
  text-decoration: none;
}

 a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

/* ==== FOOTER STYLES ==== */

footer {
  background: #606060;
  display: table;
  width: 100vw;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: .875rem;
}

.lablec {
  display: table-cell;
  vertical-align: middle;
  color: white;
}
footer small {
  letter-spacing: .025rem;
  display: block;
  }

.footer-nav a {
  text-decoration: none;
  color: #bd806e;
  display: inline-block;
 }
.footer-nav a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}
